
body {
  background-color: #e0e0e0;
  margin:0 auto;
  width: 450px;
 
}

/*media queries*/
@media only screen and (max-width:850px){
    body{
      color:#592f8c;
      font-size: 2.3em;
	}	  

html{
    text-align: center;
    font-family: arial;
    text-align: center;
    font-size:1.30em;
    color: #ffd700;
    vertical-align: middle;
}
}
  /*media queries*/
@media screen and (min-width:600px){
    body{
        margin: auto;
        padding: 20px 10px;
		background-color: red;
		font-family: "Sans-serif, Times New Roman";
    }
  
  div{
	color: gray;
	text-align: center;
	font-size:15px;
	border: 1px solid black;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 150px;
	margin-left: 80px;
	background-color: lightblue;
main-navbar {
  background-color: none;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;	
}

navbar-container {
  position: relative;
  width: 100%;
  left: 50%;
  display: block; 
}
navbar-container ul {
  list-style-type: none;
  position: relative;
  float: left;
  display: inline;
}	

navbar-container ul li {
  float: left;
  padding: 15px 25px;
}

navbar-container ul li a {
  color: #ffff00;
  text-decoration: underline;
}		


}